@use "./reset.scss";

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

.note-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .note {
    cursor: pointer;
    height: 60%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 8px 1px #797878;
    // background-image: linear-gradient(to right, #797878, #7c7c7f);
    transition: 0.2s all ease-in-out;
    &:hover {
      scale: 1.05;
      box-shadow: 2px 2px 30px 2px #797878;
    }
    .img-wrapper {
      grid-column: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      img {
        border-radius: 10px;
        height: 50%;
        width: 70%;
      }
    }
    .span-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 50px;
        font-weight: bold;
        color: white;
      }
    }
  }
}
